########### Jinja2 Macro for Proxy Servers ###############
{% macro location(name) -%}
    location /{{ name }}/ {
        proxy_pass https://{{ name }}/;
        proxy_set_header Host {{ name }};

        proxy_ssl_session_reuse     on;
        proxy_ssl_protocols         TLSv1.2;
        proxy_ssl_verify            off;
        proxy_read_timeout          3600;
        proxy_connect_timeout       3600;

        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Accept-Encoding "";
    }
{%- endmacro %}

error_log /var/log/nginx/error.log debug;
worker_processes  auto;

events {
    worker_connections  1024;
}

daemon off;

http {
    include mime.types;
    include nginx-gz.conf;

    resolver {{ resolver.host }} valid={{ resolver.ttl }};  #use local DNS and override TTL to whatever value makes sense
    resolver_timeout 2s;
    client_max_body_size 30M;

    {% for name, service in services.iteritems() %}
    upstream {{ name }} {
        server        {{ service.host }}:{{ service.port }};
        zone backend  64k;
        least_conn;
        keepalive 		300;
    }
    {% endfor %}

    server {
        listen 80;

        {% for name, service in services.iteritems() %}
            {{ location(name) }}
        {% endfor %}

        location / {
            return         301 https://$host$request_uri;
        }
    }

    server {
        listen       443 ssl http2	default_server;

        ssl_certificate      /etc/ssl/nginx/certificate.pem;
        ssl_certificate_key  /etc/ssl/nginx/key.pem;
        include nginx-ssl.conf;

        keepalive_timeout	3600s;
        keepalive_disable	none;
        keepalive_requests  100000;

        server_name {{ name }};

        root {{ root }};

        {% for name, service in services.iteritems() %}
        location /  {
            proxy_pass {{ service.scheme }}://{{ service.server }}/{{ service.server }}/;
            proxy_set_header Host {{ name }};

            proxy_ssl_session_reuse     on;
            proxy_ssl_protocols         TLSv1.2;
            proxy_ssl_verify            off;
            proxy_read_timeout          3600;
            proxy_connect_timeout       3600;

            # Default is HTTP/1, keepalive is only enabled in HTTP/1.1
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_set_header Accept-Encoding "";
	      }
        {% endfor %}
    }
}
