error_log /var/log/nginx/error.log debug;
worker_processes  auto;

events {
    worker_connections  1024;
}

daemon off;

http {

    include mime.types;
    include nginx-gz.conf;
    resolver {{ resolver.host }} valid={{ resolver.ttl }};  #use local DNS and override TTL to whatever value makes sense
    resolver_timeout 2s;
    client_max_body_size 30M;

    server {
        listen 80;
        location / {
            return         301 https://$host$request_uri;
        }
    }

    server {
        listen       443 ssl;

        ssl_certificate      /etc/ssl/nginx/certificate.pem;
        ssl_certificate_key  /etc/ssl/nginx/key.pem;
        include nginx-ssl.conf;

        keepalive_timeout	3600s;
        keepalive_disable	none;
        keepalive_requests  100000;

        server_name {{ name }};

        root {{ root }};

        include default-location.conf;
    }
}
